.features {
}
.features-title {
}
.features-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.features-item {
  width: 264px;
  /* width: calc((100% - 24 * 3) / 4 ); */
}
.features-item-title {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-item-text {
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}
