:root {
  --ocean: #404bbf;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/**----------------------------RESET START---------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

P,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**----------------------------COMPONENTS STYLES---------------------------*/

.container {
  /* width: 100%; */
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/**----------------------------HEADER---------------------------*/

.header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.header-container {
  display: flex;
  align-items: center;
}

.container-hero {
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo-web {
  color: #2e2f42;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-address-item {
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 24px 0;
}

address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-address-item {
  max-width: 153px;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.header-address-link:hover {
  color: #404bbf;
}
.header-address-link:focus {
  color: #404bbf;
}

.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

/**----------------------------HEADER---------------------------*/

/**----------------------------HERO---------------------------*/

.hero {
  background-color: var(--navyblue, #2e2f42);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background: var(--iris, #4d5ae5);
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 14px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
/**----------------------------HERO---------------------------*/

/**----------------------------ADVANTAGES---------------------------*/

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 24px * 3) / 4);
}

.advantages-item-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-item-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/**----------------------------DOING---------------------------*/

.doing {
  background: #fff;
  padding-bottom: 120px;
}
.doing-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.doing-list {
  display: flex;
  gap: 24px;
}

.doing-item {
  width: calc((100% - 24px * 2) / 3);
}
.doing-img {
}

/**----------------------------TEAM---------------------------*/

.team {
  background: var(--cloud, #f4f4fd);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue, #2e2f42);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.team-img {
}

.team-container-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  margin-bottom: 8px;
}
.team-caption {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
  text-align: center;
}

/**----------------------------FOOTER---------------------------*/
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.fotter-link {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.fotter-link-web {
  color: #f4f4fd;
}

.fotter-caption {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
}

/**----------------------------PORTFOLIO---------------------------*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  /* margin-bottom: 0 */
  width: calc((100% - 48px) / 3);
}

.portfolio-link {
}

.portfolio-img {
}

.portfolio-container-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btn {
  color: var(--iris, #4d5ae5);
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;

  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--cornflower, #e7e9fc);
}

.portfolio-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.portfolio-item-title {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-caption {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
